<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Src App File</title>

<script src="lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.css" />

</head>
<body>
  <div ng-app="myApp" class="container">
    <h1>App</h1>
    <h4>{{ account }}
      <a ng-href="/#/profile">Profile</a>
      <a ng-href="/#/status">Status</a>
    </h4>

    <div ng-view="">
      ...
    </div>

  </div>
</body>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/firebase/firebase.js"></script>
<script src="lib/angularfire/dist/angularfire.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="ng-app.js"></script>
<script>
  angular.module('myApp', ['ngHeath', 'ngRoute'])
    .config(function($routeProvider, $authProvider) {

      $authProvider.init({
        url: 'https://t6kdhxxz.firebaseio.com/',
        failureRedirect: '/#/login'
      });

      var protect = $authProvider.protectPage;

      $routeProvider

        .when('/', {
          template: 'Some template. {{ user }}'
        })

        .when('/login', {
          template:
          '<h2>Login</h2>' +
          '<form ng-submit="auth.login()">' +
          '<input type="email" ng-model="auth.username" />' +
          '<input type="password" ng-model="auth.password"  />' +
          '<a ng-click="auth.login()" class="btn btn-primary">Login</a>' +
          '</form>'
        })

        .when('/status', {
          template: 'I am your status'
        })

        .when('/profile',
          protect({
            template: '<h4>Account: {{ account }}</h4>' +
            '<h4>User: {{ user }}</h4>' +
            '<h4>Auth: {{ auth }}</h4>'
          })
        )
        .otherwise({
          redirectTo: '/'
        });

    })
    .run(function($auth, $rootScope) {

      var auth = new $auth();

      // auth.use('twitter');

      auth.userObject($rootScope, 'user');
      auth.authObject($rootScope, 'auth');

      // $rootScope.$on('$routeChangeSuccess', function(o, t, h) {
      //   console.warn('one', o, 'two', t, 'three', h);
      // });

      // $rootScope.account.username = 'test@bl.io';
      // $rootScope.account.password = 'test';

    });



</script>
</html>
